<div id="container">
    <h1>News</h1>
    <hr />
    <article>
        <h2><?= $articles[0]["title"]; ?></h2>
        <hr />
        <p><?= $articles[0]["text"]; ?></p>
        <p>Tags: <?= $articles[0]["tags"]; ?></p>
    </article>
    <article>
        <h2><?= $articles[1]["title"]; ?></h2>
        <hr />
        <p><?= $articles[1]["text"]; ?></p>
        <p>Tags: <?= $articles[1]["tags"]; ?></p>
    </article>
    <article>
        <h2><?= $articles[2]["title"]; ?></h2>
        <hr />
        <p><?= $articles[2]["text"]; ?></p>
        <p>Tags: <?= $articles[2]["tags"]; ?></p>
    </article>
</div>